<%- include('./partials/header'); -%>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Oh! My Cat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/manage">Blog Manage</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/post">Post</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container py-5">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">I want to go outside let me go outside nevermind inside is better</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by ah!~ha! Good Cat</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Cat</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Kitten</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="images/meme12.png"
                            alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Cat ipsum dolor sit amet, licks paws. Favor packaging over toy hell is other people kitty poochy but ignore the human
                        until she needs to get up, then climb on her lap and sprawl so jump launch to pounce upon little yarn mouse, bare fangs
                        at toy run hide in litter box until treats are fed. Cat ass trophy. Cats woo refuse to leave cardboard box.</p>
                        <p class="fs-5 mb-4">Biltong jerky kevin short ribs ground round boudin tail ham tenderloin doner chislic porchetta corned beef pork loin
                        jowl. Doner andouille short loin flank, rump tail meatloaf. Buffalo ribeye filet mignon alcatra shankle, chicken t-bone
                        sausage. Ribeye biltong capicola boudin, ham bacon jerky ball tip salami pork loin shankle. Rump pancetta chuck, kevin
                        shoulder pork loin ham. Biltong meatloaf picanha, pork chop strip steak ham salami tongue pork shankle tri-tip.</p>
                        <p class="fs-5 mb-4">Scratch at door to be let outside, get let out then scratch at door immmediately after to be let back in fight own tail
                        attack dog, run away and pretend to be victim with tail in the air climb into cupboard and lick the salt off rice cakes
                        so the best thing in the universe is a cardboard box.</p>
                        <h2 class="fw-bolder mb-4 mt-5">Run off table persian cat jump eat fish meow all night</h2>
                        <p class="fs-5 mb-4">Step on your keyboard while you're gaming and then turn in a circle carrying out surveillance on the neighbour's dog.
                        Put toy mouse in food bowl run out of litter box at full speed give attitude, but is good you understand your place in
                        my world. Kick up litter why use post when this sofa is here, yet making bread on the bathrobe.</p>
                        <p class="fs-5 mb-4">Chew the plant morning beauty routine of licking self i like big cats and i can not lie brown cats with pink ears. Throw
                        down all the stuff in the kitchen attack the dog then pretend like nothing happened loves cheeseburgers sleep on
                        keyboard, so i like to spend my days sleeping and eating fishes that my human fished for me we live on a luxurious
                        yacht, sailing proudly under the sun, i like to walk on the deck, watching the horizon, dreaming of a good bowl of milk.</p>
                    </section>
                </article>
            </div>
        </div>
<%- include('./partials/footer'); -%>